<%- include('common/header') %>

<div>sss test</div><br/>
<% for(var i = 0; i < data.length; i++){ %>
    <%= data[i].name %><br/>
<% } %>

<br/><br/>
<% for(var i = 0; i < data1.length; i++){ %>
    <%= data1[i].name %><br/>
<% } %>

<%- include('common/footer') %>